
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
body, html{
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
	
}
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: #f4533d;
	text-decoration:none;
}

/* selected link */
a:active {
    color: red;
}

#footerBar {margin-top:30px;background-color: #f8f8f8;border: 1px solid #e7e7e7;padding: 10px 0; margin-bottom:-20px;}

#footerBar p {margin: 0 auto 10px;max-width: 1280px; padding: 0 10px; text-align:center;}

.wrapper {
    min-height: 500px;
    overflow: hidden;
	padding-bottom:150px;
}
h3{
	text-align:center;
	font-size:5em;
	margin-top:120px;
	color:#f1604d;
	
}
h3  img{
	margin:auto;
	
}

#customsearch-input{
	margin:0;
	margin-top: 100px;
	padding: 0;
}
.searchbtn{
	margin-top:50px;
	text-align:center;

}
#customsearch-input1{
	margin-top:10px;
}
.searchresult{
	margin-top:80px;
}
.footer {
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	line-height: 40px;
    text-align: center;
	bottom: 0;
    position: absolute;
    width: 100%;
}
.btn-block{
	width:100%;
}
.wheelspart{
	margin:80px -20px;
}
.wallbox{min-width: 100%; min-height: 520px;background:#fff;}

/*Product Description image*/
.part1{
	float:left;
	margin:15px;
	height:100px;
	width:100px;
	
}

.part1 img:hover { 
  border:1px solid #f9622d;
} 

/*Login Page--*/

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.pull-right{
    float: right!important;
    margin-top: 10px;
	position: relative;
    left: 970px;
}
/*table style dashboard--*/
.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 3% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
	
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
	
/*Tarsh Button*/
.btn-default{
    color: #333;
    background-color: transparent;
    border-color: #ccc;
    border: none;
}
.btn-success{
	margin-top:6px;
}
.btn-success a{
	color:white;

}
.btn-success a:hover{
	color:#4c4b4b;

}
.helpertxt{
	font-size: 16px;
}
/*pannel upload image edit page*/
.pannelimg{
	margin-right: -100%;
    margin-left: -23%;
	overflow-x:hidden;
}

/*product_desc layout*/
.txtpr{
	color:#060606;
	padding: 15px;
	font-size:20px;
	line-height:2.5;
	position: relative;
    top: -17px;
}

.custabdes{
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
	
    }
.custabdes:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
.txtbold{font-weight:bold; color:#f2603b}
/*thumbnail style*/
.thumbnail{
    height: 360px;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
	font-family:arial;
	 
}
.thumbnail:hover { 
  /*box-shadow: 5px 5px 5px #ccc;*/
  /*transition: 0.1s;*/
  border:1px solid #f65237;
}
.navbar-default .navbar-brand {
    color: #777;
}

.brandtxt{
	
	color: red;
	font-size: 1.5em;
	text-align:center;
}
/*thumbnail image size*/

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	display: block;
    max-width: 100%;
    height: 160px;
}
/*Hover Image*/
div.show-image {
    position: relative;
    float:left;
    margin:5px;
	
}
div.show-image:hover img{
    opacity:0.5;
	background-color:#121212;
}
div.show-image:hover input {
    display: block;
	
}
div.show-image input {
    position:absolute;
    display:none;
}
div.show-image input.update {
    top:0;
    left:0;
}
div.show-image input.delete{
    top:0;
    left:75%;
}
/*Choose file upload button need to delete css*/
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  
}
.custom-file-input::before {
  content: 'Choose files';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  width:100px;
}
.custom-file-input:hover::before {
  border-color: #20487d;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
/*product_desc image size*/
.expand { width: 1000px; height: 30em;}
/*panel set*/
.pannelset{
	margin:auto;
}
#sliderimage{
	margin-top: -100px;
	/*width:80%;*/

}
.rowup{margin-top:-100px;}
img.displayed {
    display: block;
	height:110px;
	width:110px;
    /*margin-left: auto;*/
    margin-right: auto; 
	margin-left:-15px;
	}
	/*OOPS Message*/
	.OOPS{
		border:1px solid red;
		background-color:white;
		color:black;
		font-family:arial;
		font-size:16px;
		line-height:30px;
	}
.thumb{
	margin:0;
}

/*for footer*/
.footerpart{margin-top:100px; padding:20px 100px; color:black; font-family:arial;font-size:11px; text-align:center;
	position:fixed; bottom: 0px;
	margin:0;}
.footerpart1 {
    padding: 20px 100px;
    color: black;
    font-family: arial;
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0px;
	margin:0;
}

/* Responsive Layout View*/
@media screen and (max-width: 767px){
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 30px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
.OOPS{
		margin:40px;
		
		
	}
	.thumb{
	margin-top:40px;
}

h3{
	
	font-size:4em;
	text-align:center;
	color:#f1604d;
	margin:110px 1px;
	
}

.txtpr{
	color:#060606;
	padding: 15px;
	font-size:20px;
	line-height:2.5;
	position: relative;
    top: 10px;
}
.thumbnail{
	text-align:center;
}
#customsearch-input{
	margin:15px;
}
#customsearch-input1{
	margin:15px;
}
.expand {margin-top:20%; margin-bottom:20%;}
.wallbox{min-width: 100%; min-height: 200px; background: #fff;}
}
@media only screen and (max-width : 992px) {
	.searchresult{
	margin-left:10px;
	width:100%;
}
#customsearch-input1{
	margin:15px;
}
.OOPS{
		margin:40px;
		
	}
}

@media only screen and (max-width : 1200px) {
	.searchresult{
	margin-left:5px;
	 width:100%;
}


#customsearch-input1{
	margin:15px;
}
.OOPS{
		margin:40px;
		
	}
}