
<!DOCTYPE html>
<html>
<head>
	<title>Auto Villa</title>
	<meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
	<!--Bootstrap-->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<!--Customized-->
	<link rel="stylesheet" href="css/style.css"/>
	<!--Fontawesome-->
	<link rel="stylesheet" href="font-awesome-4.4.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
	 <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>


	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
				  </button>
				<a class="navbar-brand" href="#">Auto Villa</a>
				
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
				<ul class="nav navbar-nav navbar-right">
					
					<li><a href="logout.php"><span class="glyphicon glyphicon-user"></span> Logout</a></li>
					
				</ul>
			</div>
		</div>	
	</nav>
	<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="product.php"><span class="btn btn-success">Add Product <b>+</b></a></span>
					
				</div>
			</div>
							<form action="/dashboard.php"  method="GET" id="form1">
					
						
							<div class="input-group col-md-8 col-md-offset-2">
								<input type="text" class="search-query form-control" value="" id="userinput"placeholder="Search Here..." name="q"/>
								<input type="hidden" value="0" name="initial" id="initial"/>
								<span class="input-group-btn">
									<button class="btn btn-danger" type="button" onclick="form1.submit()">
										<span class=" glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
				</form>
			
		<div class="table-responsive">
				<table class="table table-striped custab" id= "item_list">
						<tr class="success"><th align="left">OEM PART NUMBER</th><th align="left">BRAND</th><th align="left">ITEM</th><th align="left"> VEHICLE</th><th>MAKE</th><th>EDIT</th><th>DELETE</th></tr>
							
								
									
								<tr v-for="row in rows">
								<td> {{row.oem}} </td>
								<td> {{row.brand}} </td>
								<td> {{row.item}} </td>
								<td> {{row.vehicle}} </td>
								<td> {{row.make}} </td>
								<td><a id="myLinkId1" href="edit_product.php?item_id=1" ><img id="myImg1" border="0" src="./img/edit.png" alt="" ></a></td>
								<td><button style="width:70px" value="Delete" class="glyphicon glyphicon-trash btn btn-default" onclick="edeleteRow(this,1); "></button></td>
								</tr>
							
																
							
						
						</table>
						</div>		
											<div>
												<button onclick='change_initail(0);' class="btn btn-danger" id="index0" value="0">1</button>
												<button onclick='change_initail(1);' id="index1" value="1">2</button>
												<button onclick='change_initail(2);' id="index2" value="2">3</button>
												<button onclick='change_initail(3);' id="index3" value="3">4</button>
												<button onclick='change_initail(4);' id="index4" value="4">5</button>
												<button onclick='change_initail(5);' id="index5" value="5">6</button>
												<button onclick='change_initail(6);' id="index6" value="6">7</button>
												<button onclick='change_initail(7);' id="index7" value="7">8</button>
												<button onclick='change_initail(8);' id="index8" value="8">9</button>
												<button onclick='change_initail(9);' id="index9" value="9">10</button>
												<button onclick='change_initail(10);' id="index10" value="10">11</button>
												<button onclick='change_initail(11);' id="index11" value="11">12</button>
												<button onclick='change_initail(12);' id="index12" value="12">13</button>
												<button onclick='change_initail(13);' id="index13" value="13">14</button>
												<button onclick='change_initail(14);' id="index14" value="14">15</button>
												<button onclick='change_initail(15);' id="index15" value="15">16</button>
												<button onclick='change_initail(16);' id="index16" value="16">17</button>
												<button onclick='change_initail(17);' id="index17" value="17">18</button>
												<button onclick='change_initail(18);' id="index18" value="18">19</button>
												<button onclick='change_initail(19);' id="index19" value="19">20</button>
												<button onclick='change_initail(20);' id="index20" value="20">21</button>
												<button onclick='change_initail(21);' id="index21" value="21">22</button>
												<button onclick='change_initail(22);' id="index22" value="22">23</button>
												<button onclick='change_initail(23);' id="index23" value="23">24</button>
												<button onclick='change_initail(24);' id="index24" value="24">25</button>
												<button onclick='change_initail(25);' id="index25" value="25">26</button>
												<button onclick='change_initail(26);' id="index26" value="26">27</button>
												<button onclick='change_initail(27);' id="index27" value="27">28</button>
												<button onclick='change_initail(28);' id="index28" value="28">29</button>
												<button onclick='change_initail(29);' id="index29" value="29">30</button>
												<button onclick='change_initail(30);' id="index30" value="30">31</button>
												<button onclick='change_initail(31);' id="index31" value="31">32</button>
												<button onclick='change_initail(32);' id="index32" value="32">33</button>
												<button onclick='change_initail(33);' id="index33" value="33">34</button>
												<button onclick='change_initail(34);' id="index34" value="34">35</button>
												<button onclick='change_initail(35);' id="index35" value="35">36</button>
												<button onclick='change_initail(36);' id="index36" value="36">37</button>
												<button onclick='change_initail(37);' id="index37" value="37">38</button>
												<button onclick='change_initail(38);' id="index38" value="38">39</button>
												<button onclick='change_initail(39);' id="index39" value="39">40</button>
												<button onclick='change_initail(40);' id="index40" value="40">41</button>
												<button onclick='change_initail(41);' id="index41" value="41">42</button>
												<button onclick='change_initail(42);' id="index42" value="42">43</button>
												<button onclick='change_initail(43);' id="index43" value="43">44</button>
												<button onclick='change_initail(44);' id="index44" value="44">45</button>
												<button onclick='change_initail(45);' id="index45" value="45">46</button>
												<button onclick='change_initail(46);' id="index46" value="46">47</button>
												<button onclick='change_initail(47);' id="index47" value="47">48</button>
												<button onclick='change_initail(48);' id="index48" value="48">49</button>
												<button onclick='change_initail(49);' id="index49" value="49">50</button>
												<button onclick='change_initail(50);' id="index50" value="50">51</button>
												<button onclick='change_initail(51);' id="index51" value="51">52</button>
												<button onclick='change_initail(52);' id="index52" value="52">53</button>
												<button onclick='change_initail(53);' id="index53" value="53">54</button>
												<button onclick='change_initail(54);' id="index54" value="54">55</button>
												<button onclick='change_initail(55);' id="index55" value="55">56</button>
												<button onclick='change_initail(56);' id="index56" value="56">57</button>
												<button onclick='change_initail(57);' id="index57" value="57">58</button>
												<button onclick='change_initail(58);' id="index58" value="58">59</button>
												<button onclick='change_initail(59);' id="index59" value="59">60</button>
												<button onclick='change_initail(60);' id="index60" value="60">61</button>
												<button onclick='change_initail(61);' id="index61" value="61">62</button>
												<button onclick='change_initail(62);' id="index62" value="62">63</button>
												<button onclick='change_initail(63);' id="index63" value="63">64</button>
												<button onclick='change_initail(64);' id="index64" value="64">65</button>
												<button onclick='change_initail(65);' id="index65" value="65">66</button>
												<button onclick='change_initail(66);' id="index66" value="66">67</button>
												<button onclick='change_initail(67);' id="index67" value="67">68</button>
												<button onclick='change_initail(68);' id="index68" value="68">69</button>
												<button onclick='change_initail(69);' id="index69" value="69">70</button>
												<button onclick='change_initail(70);' id="index70" value="70">71</button>
												<button onclick='change_initail(71);' id="index71" value="71">72</button>
												<button onclick='change_initail(72);' id="index72" value="72">73</button>
												<button onclick='change_initail(73);' id="index73" value="73">74</button>
												<button onclick='change_initail(74);' id="index74" value="74">75</button>
												<button onclick='change_initail(75);' id="index75" value="75">76</button>
												<button onclick='change_initail(76);' id="index76" value="76">77</button>
												<button onclick='change_initail(77);' id="index77" value="77">78</button>
												<button onclick='change_initail(78);' id="index78" value="78">79</button>
												<button onclick='change_initail(79);' id="index79" value="79">80</button>
												<button onclick='change_initail(80);' id="index80" value="80">81</button>
												<button onclick='change_initail(81);' id="index81" value="81">82</button>
												<button onclick='change_initail(82);' id="index82" value="82">83</button>
												<button onclick='change_initail(83);' id="index83" value="83">84</button>
												<button onclick='change_initail(84);' id="index84" value="84">85</button>
												<button onclick='change_initail(85);' id="index85" value="85">86</button>
												<button onclick='change_initail(86);' id="index86" value="86">87</button>
												<button onclick='change_initail(87);' id="index87" value="87">88</button>
												<button onclick='change_initail(88);' id="index88" value="88">89</button>
												<button onclick='change_initail(89);' id="index89" value="89">90</button>
												<button onclick='change_initail(90);' id="index90" value="90">91</button>
												<button onclick='change_initail(91);' id="index91" value="91">92</button>
												<button onclick='change_initail(92);' id="index92" value="92">93</button>
												<button onclick='change_initail(93);' id="index93" value="93">94</button>
												<button onclick='change_initail(94);' id="index94" value="94">95</button>
												<button onclick='change_initail(95);' id="index95" value="95">96</button>
												<button onclick='change_initail(96);' id="index96" value="96">97</button>
												<button onclick='change_initail(97);' id="index97" value="97">98</button>
												<button onclick='change_initail(98);' id="index98" value="98">99</button>
												<button onclick='change_initail(99);' id="index99" value="99">100</button>
												<button onclick='change_initail(100);' id="index100" value="100">101</button>
												<button onclick='change_initail(101);' id="index101" value="101">102</button>
												<button onclick='change_initail(102);' id="index102" value="102">103</button>
												<button onclick='change_initail(1);' id="index1" value="1">Next</button>
												
											</div>
					</div>
	<footer id="footerBar">
		<div class="container">
			<p>The vehicle brand,&nbsp;that are mentioned in this catalogue,&nbsp;are of manufacturers ownership of the cars to which they make reference.&nbsp;Their use in this catalogue,&nbsp;as well as the genuine codes included,&nbsp;were used with the only purpose of helping to identify all the vehicles models in which the spare part must be set.&nbsp;The items,&nbsp;though they are not genuine,&nbsp;are perfectly adaptable to the cars to which they make reference.</p>
			<p style="text-align:center; font-size:14px;">Copyright © Auto Villa All Right Reserved</p>
		</div>	
	</footer>
	
	</body>
	<script src="vue/dist/vue.js">  </script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"> </script>
	
	<script>
			new Vue({
			el:'#item_list',
			data:
			{
			rows:[
			{
				id:1,
				oem:'96648690',
				brand:'CHEVROLET',
				item:'BONNET BEADING',
				vehicle:'AVEO',
				make:'RELITE',
			},

			{
				id:2,
				oem:'75120-SEL-H01',
				brand:'HONDA',
				item:'BONNET BEADING',
				vehicle:'CITY',
				make:'RELITE',
			},

			{
				id:3,
				oem:'75120-SEN-H01',
				brand:'HONDA',
				item:'BONNET BEADING',
				vehicle:'CITY',
				make:'RELITE',
			},

			{
				id:4,
				oem:'86350-2D510',
				brand:'HYUNDAI',
				item:'BONNET BEADING',
				vehicle:'ELANTRA',
				make:'TAIWAN',
			},

			{
				id:5,
				oem:'53121-0D040',
				brand:'TOYOTA',
				item:'BONNET BEADING',
				vehicle:'ETIOS',
				make:'TAIWAN',
			},

			{
				id:6,
				oem:'5J0853633',
				brand:'SKODA',
				item:'BONNET BEADING',
				vehicle:'FABIA',
				make:'RELITE',
			},

			{
				id:7,
				oem:'5Jd853633',
				brand:'SKODA',
				item:'BONNET BEADING',
				vehicle:'FABIA',
				make:'RELITE',
			},

			{
				id:8,
				oem:'53121-0K130',
				brand:'TOYYOTA',
				item:'BONNET BEADING',
				vehicle:'FORTUNER',
				make:'RELITE',
			},

			{
				id:9,
				oem:'',
				brand:'TOYOTA',
				item:'BONNET BEADING',
				vehicle:'INNOVA',
				make:'TAIWAN',
			},

			{
				id:10,
				oem:'',
				brand:'TOYOTA',
				item:'BONNET BEADING',
				vehicle:'INNOVA',
				make:'RELITE',
			},

		]
				}
		});


		function edeleteRow(r,_item_id){
		if (window.confirm('Do u really want to delete'))
		{
			var i = r.parentNode.parentNode.rowIndex;
			document.getElementById("item_list").deleteRow(i);
			var posting = $.post( "javascript.php?action=delete_item", { item_id: _item_id},
			function(data)
			{
				json_responce = JSON.parse(data);
				_status = json_responce.status;
				if (_status)
					alert('item deleted');
			} );
		}
	 }



		function change_initail(k){
			_index = document.getElementById("index"+k).value;
			document.getElementById("initial").value = _index;
			document.getElementById("form1").submit();
		}
	</script>

	

</html>