
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Autovilla</title>
		<script src="vue/dist/vue.js">  </script>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

        <!-- Styles -->
        <style>
            html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 100;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

             a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
        </style>
    </head>
    <body>
        <div class="flex-center position-ref full-height">
                            
								<div id="index">
										<div class="top-right links">
                                
										
									<a v-for="item in items " :href="item.src">{{item.name}}</a>
								
							</div>
						</div>
                                    
            
            <div class="content">
                <img src="image/autovilla.png" class="img-responsive" style="margin: 0 auto;" width="150" height="150">
                <div class="title m-b-md">
                    Autovilla
                </div>                
            </div>
        </div>
	</body>
	
	<script>
	new Vue({

		el:'#index',
		data:{
		items:[
			{
					name:'Login',
					src:'login.html',
			},
			{
					name:'Register',
					src:'register.html',
			}
		]
		}
	})
	</script>
</html>
