<!DOCTYPE html>
<html>
<head>
	<title> Dashboard Login :</title>
	<meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
	<!--Bootstrap-->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<!--Customized-->
	<link rel="stylesheet" href="css/style.css"/>
	<!--Fontawesome-->
	<link href="css/app.css" rel="stylesheet">	
	<link rel="stylesheet" href="font-awesome-4.4.0/css/font-awesome.min.css"/>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
	 <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
	<body>
        <body onunload="deleteAllCookies()">
		<nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="#">
                        Autovilla
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                        &nbsp;
                    </ul>

                    <div id="index">
                    <!-- Right Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Authentication Links -->
                       
                                <li v-for="item in items ">
                                     <a :href="item.src">{{item.name}}</a>
                                    </li>
                                            </ul>

                    </div>
                </div>
            </div>
        </nav>

    <div id="my_app">
        <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>

				<div class="panel-body">
					
					<div class="form-horizontal" >
                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" v-model="id" class="form-control" name="email" value="" required autofocus>
                                <strong> <span class="help block"></span></strong>
                                
                                                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" v-model="passwd" class="form-control" name="password" required>

                                                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="remember" > Remember Me
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="" class="btn btn-primary" v-on:click="login">
                                    Login
                                </button>

                                <a class="btn btn-link" >
                                    Forgot Your Password?
                                </a>
                            </div>
                        </div>
					</div>
					</div>    
            </div>
        </div>
    </div>
</div>
	</div>
	
</body>

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="vue/dist/vue.js">  </script>
    <script src="js/vue-cookies.js"></script>
    <script src="js/vue-cookie.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">  </script>
    <script type="text/javascript" src="js/bootstrap.min.js">  </script>
    <script type="text/javascript" src="js/app.js"></script>
    
	<script>


	
	new Vue({
	el:'#my_app',
	data:{
        id:"",
        passwd:"",
        bearer(){
            return {
            token:"",
            }
        }
        
    },
   
	methods:{
  
			
            login(){
			//axios.defaults.headers.post['Content-Type'] = 'multipart/form-data';   
           
        	
			axios.post('http://devus.ssntpl.com/autovilla_api/public/api/login', {
                 email: this.id,
                 password: this.passwd,
	
	        })
			.then(function(response){	
            console.log(response);
            window.location.replace("user_dash.html");
  
            this.$cookies.set('jwt',response.data.success.token );
            var gett = this.$cookies.get('jwt');
            console.log("token : " , gett);
        

  			})

			.catch(function (error) {
    		console.log(error);
            $('.help.block').html("These credentials do not match our records.");

  			});
              
			}
			},

          
			})
            
         
	
    new Vue({

		el:'#index',
		data:{
		items:[
			{
					name:'Login',
					src:'login.html',
			},
			{
					name:'Register',
					src:'register.html',
			}
		]
		}
	})



	
	function login()
	{
		  

	
	}
	</script>

</html>