
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   

    <title>Autovilla</title>

    <!-- Styles -->
    <style type="text/css">
        .thumbnail {
            width: 280px;
            height: 380px;
        }
        .text-capitalize {
            font-weight: bold;
        }
        .txtbold {
            font-weight: bold;
            color: red;
        }
        .footer {
            background-color: white;
        }
        .se-img {
            width: 200px;
            height: 250px;
        }
    </style>
    <link href="css/app.css" rel="stylesheet">
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">-->

</head>
<body>
    <div id="index">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="#">
                        Autovilla
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                        &nbsp;
                    </ul>

                    
                            <!-- Right Side Of Navbar -->
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Authentication Links -->
                               
                                        <li v-for="item in items ">
                                             <a :href="item.src">{{item.message}}</a>
                                            </li>
                                                    </ul>
        
                   
                </div>
            </div>
        </nav>

        <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Reset Password</div>

                <div class="panel-body">
                    
                    <div class="form-horizontal" >
                       

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" v-model="email" value="" required>
                                <strong> <span class="help block"></span></strong>
                                                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary" v-on:click="send">
                                    Send Password Reset Link
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

    <!-- Scripts -->
    <script src="js/app.js"></script>
    <script src="vue/dist/vue.js">  </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--<script src="//code.jquery.com/jquery.js"></script>
    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    -->
   
    <script>
            
            new Vue({
            
                    el:'#index',
                    data:{
                    items:[
                        {
                                message:'Login',
                                src:'login.html',
                        },
                        {
                                message:'Register',
                                src:'register.html',
                        }
                    ],
                    email:"",
                    },
                    methods:{
			
                            send(){
			                //axios.defaults.headers.post['Content-Type'] = 'multipart/form-data';   
					
			                axios.post('http://devus.ssntpl.com/autovilla_api/public/api/check', {
                            email: this.email,
	                        })
                            .then(function(response){	
                            console.log(response);
                            })

                            .catch(function (error) {
                            console.log(error);
                            $('.help.block').html("We can't find a user with that e-mail address.");

                            });
                            }
                            }
                })
            
            
            </script>
    
</body>
</html>
