<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   

    <title>Autovilla</title>

    <!-- Styles -->
    <style type="text/css">
        .thumbnail {
            width: 280px;
            height: 380px;
        }
        .text-capitalize {
            font-weight: bold;
        }
        .txtbold {
            font-weight: bold;
            color: red;
        }
        .footer {
            background-color: white;
        }
        .se-img {
            width: 200px;
            height: 250px;
        }
    </style>
    <link href="css/app.css" rel="stylesheet">
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">-->

</head>
<body>
    
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="#">
                        Autovilla
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                        &nbsp;
                    </ul>

                    <div id="index">
                            <!-- Right Side Of Navbar -->
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Authentication Links -->
                               
                                        <li v-for="item in items ">
                                             <a :href="item.src">{{item.message}}</a>
                                            </li>
                                                    </ul>
        
                    </div>
                </div>
            </div>
        </nav>

        <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Register</div>

                        <div class="panel-body">
                            <div class="form-horizontal" >

                                <div class="form-group">
                                    <label for="name" class="col-md-4 control-label">Name</label>

                                    <div class="col-md-6">
                                        <input id="name" type="text" v-model="name" class="form-control" name="name" value="" required autofocus>

                                                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                                    <div class="col-md-6">
                                        <input id="email" type="email" v-model="email" class="form-control" name="email" value="" required>
                                                <strong><span class="help block"> </span></strong>
                                                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="password" class="col-md-4 control-label">Password</label>

                                    <div class="col-md-6">
                                        <input id="password" type="password" v-model="password" class="form-control" name="password" required>
                                        <strong> <span class="help block_p"></span></strong>
                                                                    </div>
                                                                </div>

                                <div class="form-group">
                                    <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

                                    <div class="col-md-6">
                                        <input id="password-confirm" type="password" v-model="c_password" class="form-control" name="password_confirmation" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-4">
                                        <button type="" class="btn btn-primary" v-on:click="register">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
    <!-- Scripts -->
    
    <!--<script src="//code.jquery.com/jquery.js"></script> 
    <script src="cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script src="netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    -->
    <script src="vue/dist/vue.js">  </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    



<script>

new Vue({

		el:'#index',
		data:{
		items:[
			{
					message:'Login',
					src:'login.html',
			},
			{
					message:'Register',
					src:'register.html',
			}
		]
		}
	});

    new Vue({

        el:'#app',
        data:({
            name:"",
            email:"",
            password:"",
            c_password:"",
        }),
        methods:{
            register() {
                axios.post('http://devus.ssntpl.com/autovilla_api/public/api/register',{
                        name:this.name,
                        email:this.email,
                        password:this.password,
                        c_password:this.c_password,
                  })  
                  .then((response)=>{
                      console.log(response);
                  })
                  .catch((error)=>{
                        console.log(error.response);
                        var obj=JSON.stringify(error.response.data.error.email);
                        obj=obj.substring(2,obj.length-2);
                        $('.help.block').html(obj);
                  })
                    if(this.password!=this.c_password) {
                        $('.help.block_p').html("Password and confirm password should match");
            }
              
            }
                },
    })


</script>
</html>
